{% set totalProducts=products|length %}{% set totalRecommendations=recommendations|length %}
{% if totalProducts > 0 %}
	{% for i in 0..(totalProducts - 1) %}
		<tr>
			<td height="10"></td>
		</tr>
		<tr>
			<td align="center">
				<table cellpadding="0" cellspacing="2" width="600" align="center">
					<tr>
						<td align="left">
							<table cellpadding="0" cellspacing="0" width="600" align="center" style="text-decoration: none; font-family: sans-serif;color: #000000; font-size: 14px;">
								<tr>
									<td align="left" width="200">
										<a href="(Link do Carrinho do Cliente)" style="text-decoration: none; color: #000000;" target="_blank">
											<img border="0" src="{{products[i]['image']}}" width="200" alt="Imagem indispon&iacute;vel">
										</a>
									</td>
									<td align="left" width="300" style="padding-left: 50px">
										<table align="left">
											<tr>
												<td align="left">
													<a href="(Link do Carrinho do Cliente)" style="text-decoration: none; color: #000000;" target="_blank">
														<strong>
															{{products[i]['productName']}}
														</strong>
													</a>
												</td>
											</tr>
										</table>
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	{% endfor %}
	<table cellpadding="0" cellspacing="0" align="center" width="250" style="padding: 10px;">
		<tr>
			<td align="center" style="padding: 10px; width: 300px; height: 30px; border: 0px;padding: 5px; background-color: #000000;border-radius: 25px; font-family: Arial Nova, sans-serif; font-size: 15px; color: #fff; text-decoration: none; text-align: center;">
				<a target="_blank" href="(Link do Carrinho do Cliente)" style="text-decoration: none; color: #ffffff;">
					FINALIZAR COMPRA
				</a>
			</td>
		</tr>
	</table>
{% endif %}
{% if totalRecommendations > 0 %}
	<table cellpadding="0" cellspacing="0" align="center" width="600" style="padding: 15px;">
		<tr>
			<td align="center"></td>
		</tr>
	</table>
	<table cellspacing="0" cellpadding="0" border="0" width="600" align="center">
		<tr>
			<td align="center" height="40" bgcolor="#000000" style="font-family: sans-serif; color: #ffffff;">
				RECOMENDADOS PARA VOCÊ
			</td>
		</tr>
	</table>
	<table width="596" cellpadding="0" cellspacing="0" align="center">
		<tr>
			<td height="10"></td>
		</tr>
		{% if totalRecommendations in [3,6,9,12] %}
			{% set totalList=totalRecommendations / 3 %}{% set c=0 %}
			{% for i in 1..totalList %}
				<tr>
					<td height="10"></td>
				</tr>
				<tr>
					<td>
						<table width="600" cellpadding="0" cellspacing="0" align="center" style="text-decoration: none; font-family: sans-serif;color: #000000; font-size: 14px;">
							<tr>
								<td width="188" align="center"><br><a href="{{recommendations[c]['productLink']}}" style="text-decoration: none; color:#000000;" target="_blank">
										<img border="0" src="{{recommendations[c]['image']}}" width="188" alt="Imagem indispon&iacute;vel">
									</a>
								</td>
								<td width="188" align="center"><br><a href="{{recommendations[(c + 1)]['productLink']}}" style="text-decoration: none; color:#000000;" target="_blank">
										<img border="0" src="{{recommendations[(c + 1)]['image']}}" width="188" alt="Imagem indispon&iacute;vel">
									</a>
								</td>
								<td width="188" align="center"><br><a href="{{recommendations[(c + 2)]['productLink']}}" style="text-decoration: none; color:#000000;" target="_blank">
										<img border="0" src="{{recommendations[(c + 2)]['image']}}" width="188" alt="Imagem indispon&iacute;vel">
									</a>
								</td>
							</tr>
							<tr>
								<td height="15"></td>
							</tr>
							<tr>
								<td width="188" align="center" valign="top">
									<strong>
										{{recommendations[c]['productName']}}
									</strong>
								</td>
								<td width="188" align="center" valign="top">
									<strong>
										{{recommendations[(c + 1)]['productName']}}
									</strong>
								</td>
								<td width="188" align="center" valign="top">
									<strong>
										{{recommendations[(c + 2)]['productName']}}
									</strong>
								</td>
							</tr>
							<tr>
								<td height="15"></td>
							</tr>
							<tr>
								<td width="188" align="center">
									{% if recommendations[c]['priceByNum'] < recommendations[c]['priceNum'] %}
										De:&nbsp;<s>{{recommendations[c]['price']}}</s>
									{% endif %}
									<br>
									<strong>
										Por:
										{{recommendations[c]['priceBy']}}
									</strong>
								</td>
								<td width="188" align="center">
									{% if recommendations[(c + 1)]['priceByNum'] < recommendations[(c + 1)]['priceNum'] %}
										De:&nbsp;<s>{{recommendations[(c + 1)]['price']}}</s>
									{% endif %}
									<br>
									<strong>
										Por:
										{{recommendations[(c + 1)]['priceBy']}}
									</strong>
								</td>
								<td width="188" align="center">
									{% if recommendations[(c + 2)]['priceByNum'] < recommendations[(c + 2)]['priceNum'] %}
										De:&nbsp;<s>{{recommendations[(c + 2)]['price']}}</s>
									{% endif %}
									<br>
									<strong>
										Por:
										{{recommendations[(c + 2)]['priceBy']}}
									</strong>
								</td>
							</tr>
							<tr>
								<td width="188" align="center">
									Em
									{{ recommendations[c]['installment'] }}x de R${{ recommendations[c]['installmentValue'] | number_format(2, ',', '.') }}
									<br>
								</td>
								<td width="188" align="center">
									Em
									{{ recommendations[(c + 1)]['installment'] }}x de R${{ recommendations[(c + 1)]['installmentValue'] | number_format(2, ',', '.') }}
									<br>
								</td>
								<td width="188" align="center">
									Em
									{{ recommendations[(c + 2)]['installment'] }}x de R${{ recommendations[(c + 2)]['installmentValue'] | number_format(2, ',', '.') }}
									<br>
								</td>
							</tr>
							<tr>
								<td height="15"></td>
							</tr>
							<tr>
								<td width="188" height="60" align="center">
									<table cellpadding="0" cellspacing="0" align="center">
										<tr>
											<td align="center" style="padding: 10px; width: 150px; height: 30px; border: 0px;padding: 5px; background-color: #000000;border-radius: 5px; font-family: Arial Nova, sans-serif; font-size: 12px; color: #fff; text-decoration: none; text-align: center; font-weight: lighter; letter-spacing: 0.1em">
												<a target="_blank" href="{{recommendations[c]['productLink']}}" style="text-decoration: none;color: #ffffff;">
													COMPRAR
												</a>
											</td>
										</tr>
									</table>
								</td>
								<td width="188" height="60" align="center">
									<table cellpadding="0" cellspacing="0" align="center">
										<tr>
											<td align="center" style="padding: 10px; width: 150px; height: 30px; border: 0px;padding: 5px; background-color: #000000;border-radius: 5px; font-family: Arial Nova, sans-serif; font-size: 12px; color: #fff; text-decoration: none; text-align: center; font-weight: lighter; letter-spacing: 0.1em">
												<a target="_blank" href="{{recommendations[(c + 1)]['productLink']}}" style="text-decoration: none;color: #ffffff;">
													COMPRAR
												</a>
											</td>
										</tr>
									</table>
								</td>
								<td width="188" align="center">
									<table cellpadding="0" cellspacing="0" align="center">
										<tr>
											<td align="center" style="padding: 10px; width: 150px; height: 30px; border: 0px;padding: 5px; background-color: #000000;border-radius: 5px; font-family: Arial Nova, sans-serif; font-size: 12px; color: #fff; text-decoration: none; text-align: center; font-weight: lighter; letter-spacing: 0.1em">
												<a target="_blank" href="{{recommendations[(c + 2)]['productLink']}}" style="text-decoration: none;color: #ffffff;">
													COMPRAR
												</a>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				{% set c=c + 3 %}
			{% endfor %}
		{% elseif totalRecommendations in [2,4,8,10] %}
			{% set totalList=totalRecommendations / 2 %}{% set c=0 %}
			{% for i in 1..totalList %}
				<tr>
					<td height="10"></td>
				</tr>
				<tr>
					<td align="center">
						<table width="600" cellpadding="0" cellspacing="0" align="center" style="text-decoration: none; font-family: sans-serif;color: #000000; font-size: 14px;">
							<tr>
								<td width="289" align="center">
									<a href="{{recommendations[c]['productLink']}}" style="text-decoration: none; color: #000000;" target="_blank">
										<img border="0" src="{{recommendations[c]['image']}}" width="289" alt="Imagem indispon&iacute;vel">
									</a>
								</td>
								<td width="289" align="center">
									<a href="{{recommendations[(c + 1)]['productLink']}}" style="text-decoration: none; color: #000000;" target="_blank">
										<img border="0" src="{{recommendations[(c + 1)]['image']}}" width="289" alt="Imagem indispon&iacute;vel">
									</a>
								</td>
							</tr>
							<tr>
								<td height="15"></td>
							</tr>
							<tr>
								<td width="289" align="center" valign="top">
									<strong>
										{{recommendations[c]['productName']}}
									</strong>
								</td>
								<td width="289" align="center" valign="top">
									<strong>
										{{recommendations[(c + 1)]['productName']}}
									</strong>
								</td>
							</tr>
							<tr>
								<td height="15"></td>
							</tr>
							<tr>
								<td width="289" align="center">
									{% if recommendations[c]['priceByNum'] < recommendations[c]['priceNum'] %}
										De:&nbsp;<s>{{recommendations[c]['price']}}</s>
									{% endif %}
									<br>
									<strong>
										Por:
										{{recommendations[c]['priceBy']}}
									</strong>
								</td>
								<td width="289" align="center">
									{% if recommendations[(c + 1)]['priceByNum'] < recommendations[(c + 1)]['priceNum'] %}
										De:&nbsp;<s>{{recommendations[(c + 1)]['price']}}</s>
									{% endif %}
									<br>
									<strong>
										Por:
										{{recommendations[(c + 1)]['priceBy']}}
									</strong>
								</td>
							</tr>
							<tr>
								<td width="188" align="center">
									Em
									{{ recommendations[c]['installment'] }}x de R${{ recommendations[c]['installmentValue'] | number_format(2, ',', '.') }}
									<br>
								</td>
								<td width="188" align="center">
									Em
									{{ recommendations[(c + 1)]['installment'] }}x de R${{ recommendations[(c + 1)]['installmentValue'] | number_format(2, ',', '.') }}
									<br>
								</td>
							</tr>
							<tr>
								<td height="15"></td>
							</tr>
							<tr>
								<td width="289" height="60" align="center">
									<table cellpadding="0" cellspacing="0" align="center">
										<tr>
											<td align="center" style="padding: 10px; width: 150px; height: 30px; border: 0px;padding: 5px; background-color: #000000;border-radius: 5px; font-family: Arial Nova, sans-serif; font-size: 12px; color: #fff; text-decoration: none; text-align: center; font-weight: lighter; letter-spacing: 0.1em">
												<a target="_blank" href="{{recommendations[c]['productLink']}}" style="text-decoration: none;color: #ffffff;">
													COMPRAR
												</a>
											</td>
										</tr>
									</table>
								</td>
								<td width="289" height="60" align="center">
									<table cellpadding="0" cellspacing="0" align="center">
										<tr>
											<td align="center" style="padding: 10px; width: 150px; height: 30px; border: 0px;padding: 5px; background-color: #000000;border-radius: 5px; font-family: Arial Nova, sans-serif; font-size: 12px; color: #fff; text-decoration: none; text-align: center; font-weight: lighter; letter-spacing: 0.1em">
												<a target="_blank" href="{{recommendations[(c + 1)]['productLink']}}" style="text-decoration: none;color: #ffffff;">
													COMPRAR
												</a>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				{% set c=c + 2 %}
			{% endfor %}
		{% else %}
			{% if totalRecommendations > 0 %}
				{% for i in 0..(totalRecommendations - 1) %}
					<tr>
						<td height="10"></td>
					</tr>
					<tr>
						<td align="center">
							<table cellpadding="0" cellspacing="0" width="600" align="center" style="text-decoration: none; font-family: sans-serif;color: #000000; font-size: 14px;">
								<tr>
									<td align="center">
										<table cellpadding="0" cellspacing="0" width="600" align="center">
											<tr>
												<td>
													<a href="{{recommendations[i]['productLink']}}" style="text-decoration: none; color:#000000;" target="_blank">
														<img border="0" src="{{recommendations[i]['image']}}" width="200" alt="Imagem indispon&iacute;vel">
													</a>
												</td>
												<td align="left" width="300" style="padding-left: 50px">
													<table align="left">
														<tr>
															<td align="left">
																<a href="{{recommendations[i]['productLink']}}" style="text-decoration: none; color:#000000;" target="_blank">
																	<strong>
																		{{recommendations[i]['productName']}}
																	</strong>
																</a>
															</td>
														</tr>
														<tr>
															<td height="15"></td>
														</tr>
														{% if recommendations[i]['priceByNum'] < recommendations[i]['priceNum'] %}
															<tr>
																<td align="left">
																	<strong>
																		De:
																		<s>{{recommendations[i]['price']}}</s>
																	</strong>
																</td>
															</tr>
														{% endif %}
														<tr>
															<td align="left">
																<strong>
																	Por:
																	{{recommendations[i]['priceBy']}}
																</strong>
															</td>
														</tr>
														<tr>
															<td align="left">
																Em
																{{ recommendations[i]['installment'] }}x de R${{ recommendations[i]['installmentValue'] | number_format(2, ',', '.') }}
																<br>
															</td>
														</tr>
														<tr>
															<td height="15"></td>
														</tr>
														<tr>
															<td align="left">
																<table cellpadding="0" cellspacing="0" align="left">
																	<tr>
																		<td align="center" style="padding: 10px; width: 150px; height: 30px; border: 0px;padding: 5px; background-color: #000000;border-radius: 5px; font-family: Arial Nova, sans-serif; font-size: 12px; color: #fff; text-decoration: none; text-align: center; font-weight: lighter; letter-spacing: 0.1em">
																			<a target="_blank" href="{{recommendations[i]['productLink']}}" style="text-decoration: none;color: #ffffff;">
																				COMPRAR
																			</a>
																		</td>
																	</tr>
																</table>
															</td>
														</tr>
													</table>
												</td>
											</tr>
										</table>
									</td>
								</tr>
							</table>
						</td>
					</tr>
				{% endfor %}
			{% endif %}
		{% endif %}
		<tr>
			<td height="10"></td>
		</tr>
	</table>
{% endif %}
